:root {
  --height-user-card: 88px;
  --width-avatar-user-card: 67px;
}

.logged-user-card__name-text {
  color: #0f1013;
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0;
}

.logged-user-card__email_text {
  color: var(--content-1, #0f1013);
  font-family: "Rubik";
  font-size: 17px;
  font-weight: 100;
}

.logged-user-card__container {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 1rem;
  height: var(--height-user-card);
  padding: 1rem;

  & .logged-user-card__avatar {
    height: var(--width-avatar-user-card);
    width: var(--width-avatar-user-card);
    & img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.logged-user-card__container:hover {
  background-color: var(--color-white);
  border-radius: 16px;
  cursor: pointer;
}

.user-card__wrapper-user-infos {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.user-card__wrapper-status {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}
