.container__popup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 784px;
  padding: 40px;
  gap: 8px;
  border-radius: 24px;
  background-color: #f2f6f9;
}

.container_img {
  height: 160px;
  width: 160px;
  padding-bottom: 8px;
}

.container__buttons {
  display: flex;
  gap: 40px;
}

.popup__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.popup__input-container {
  gap: 20px;
  width: 600px;
}
.button__position {
  margin: 24px 0px 0px 24px;
}

.container__buttons--popup {
  display: flex;
  justify-content: flex-end;
}
