:root {
  --background-color-yaki-main: #ff936b;
  --background-color-yaki-hover: #ffa380;

  --border-radius-base: 16px;

  --font-color-main: #010101;
  --font-color-secondary: #8e8e8e;

  --font-size-base: 1rem;
  --font-size-web-button: 0.9375rem;

  --color-white: #ffffff;
}
