:root {
  --button-font-size: 1rem;
  --button-font-size-web: 0.9375rem;

  --text-color-main: #010101;

  --button-background-primary-color: #ff936b;
  --button-background-darker-primary-color: color-mix(in srgb, var(--button-background-primary-color), #000 15%);

  --button-background-secondary-color: #ffffff;
  --button-background-darker-secondary-color: color-mix(in srgb, var(--button-background-secondary-color), #000 15%);

  --button-box-shadow-heigh: 4px;
  --button-translate-y: calc(var(--button-box-shadow-heigh) - 1px);
}

.button--general {
  border-radius: 16px;
  border: 2px solid;

  &:active {
    transform: translateY(var(--button-translate-y));
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
  }
}

.button--color-primary {
  background-color: var(--button-background-primary-color);
  border-color: var(--button-background-darker-primary-color);
  box-shadow: 0px var(--button-box-shadow-heigh) 0px 0px var(--button-background-darker-primary-color);
}

.button--color-secondary {
  background-color: var(--button-background-secondary-color);
  border-color: var(--button-background-darker-secondary-color);
  box-shadow: 0px var(--button-box-shadow-heigh) 0px 0px var(--button-background-darker-secondary-color);
}

.button--height-primary {
  padding-block: 26px;
}

.button--height-secondary {
  padding-block: 16px;
}

.button--size-full-width {
  width: 100%;
}

.button--size-content {
  padding: 16px;
}

.button--text {
  color: var(--text-color-main);
  font-size: var(--button-font-size-web);
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 15px */
  letter-spacing: 0.6px;
}
