:root {
  --button-border-color: rgba(0, 0, 0, 0.15);
  --modal-box-shadow-heigh: -6px;
}

.modal--button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 16px 16px;
  border-radius: 24px;
  box-shadow: 0px var(--modal-box-shadow-heigh) 0px 0px rgba(0, 0, 0, 0.15) inset;
  border: 2px solid var(--button-border-color);
  background-color: #fff;
  min-width: 220px;
}
